* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==============*/
body {
  height: 100%;
  line-height: 1;
  font-family: serif;
}
._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
._anim-show._active,
.active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}
.wrapper {
  min-height: 100%;
}
.header__main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container{
  display: flex;
  min-height: 200px;
  align-items: center;
}
._container{
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.header__logo{
  color: #f1cdb3;
  font-size: 25px;
  letter-spacing: 1.13px;
}
.header__logo span{
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.3px; 
}
.menu__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.menu__list li{
  margin: 0 10px 0 20px;
  color: black;
}
.menu__list li a{
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-align: right;
}
.menu__list li a:hover{
  color: aqua;
}
.main__page{
  margin-bottom: 60px;
}
.main-block{
  position: relative;
}

.main__page{
  background-image: url(/images/Background.svg);
}
.main__page__body{
  padding: 500px 0 180px 0;
  position: relative;
  z-index: 2;
}
.main__page__title{
  margin: -100px 0 0 0;
  color: #ffffff;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 2.64px;
  margin-bottom: 40px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main__page__title._active{
  transform: translate(0px, 0px);
  opacity: 1;
}

.main__page__text{
  width: 443px;
  color: #cdcdcd;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.4s ease 0.4s;
}
.main__page__text._active{
    transform: translate(0px, 0px);
    opacity: 1;
    transform: all 0.4s ease 0.4s;
}

.main__page__butomn a{
  color: #292929;
  font-size: 17px;
  line-height: 57px;
  letter-spacing: 1.02px;
}
.butonn {
  border-radius: 10px;
  border: 13px solid #f1cdb3;
  background-color: #f1cdb3;
}
.butonn:hover{
  border-radius: 10px;
  border: 13px solid blue;
  background-color: blue;
}
.main__page__img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about-us__page__body{
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}
.about-us__page__title{
  width: 300px;
  height: 79px;
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.1px;
  margin-bottom: 20px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.6s ease 0.6s;
}
.about-us__page__title._active{
  transform: translate(0px, 0px);
  opacity: 1;
  transform: all 0.4s ease 0.4s;
}
.about-us__page__subtitle{
  width: 414px;
  height: 230px;  
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.pets__page{
  background-color: #f6f6f6;
}
.pets-all-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}
.pets__column__1{
  margin-top: 38px;
}
.pets__page__img{
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.6s ease 0.6s;
}
.pets__page__img._active{
  transform: translate(0px, 0px);
  opacity: 1;
  transform: all 0.4s ease 0.4s;
}
.pets__column__2{
 margin-bottom: 1px;
}
.pets__column__3{
  margin-bottom: 4px;
}
._title{
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.1px;
  text-align: center;

  /* transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.6s ease 0.6s; */
}
.title._active{
  transform: translate(0px, 0px);
  opacity: 1;
  transform: all 0.4s ease 0.4s;
}
._name{
  color: #545454;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 20px;
}
._buttom{
  align-items: center;
  
}
._buttom:hover{
  border-radius: 26px;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}
.pets__butomn_footer{
  margin-top: 40px;
  margin-left: 400px;
  max-width: 220px;
  height: 55px;
  border-radius: 26px;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}
.pets__butomn_footer a{
  margin-left: 30px;
  color: #292929;
  font-size: 17px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 1.02px;
}
.helps__page{
  margin-top: 100px;
}
.helps__page__title{
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  letter-spacing: 2.1px;
}
.helps__page-icons_one-group{
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: space-between;
}
._icon{
  width: 90px;
  height: 14px;
  color: #545454;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  letter-spacing: 1.2px;  
}
.helps__page-icons_two-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 150px;
} 
.donats{
  margin-top: 230px;
  background-color: #f6f6f6;
}
.donats__page__body{
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}
.donats__page__title{
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.1px;
}
.donats__page__subtitle{
  margin-top: 20px;
  color: #545454;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.9px;
}
.donats__page__number{
  margin-top: 20px;
  max-width: 200px;
  height: 27px;
  border-radius: 5px;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}
.donats__page__number span{
  color: #292929;
  padding-top: 20px;
}
.donats__page__text{
  margin-top: 20px;
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.contacts{
  margin-top: 100px;
  background-image: url(/images/contact/sloi.svg);
}
.contacts-all-column{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
._tytle{
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.1px;
}
._subtytle{
  margin-top: 20px;
  color: #f1cdb3;
  letter-spacing: 1.2px;
}